modules = ["go"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "GoNotifyBuilder"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "build_and_test_notify"

[[workflows.workflow]]
name = "GoNotifyBuilder"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod download && go build -o notify -v"

[[workflows.workflow]]
name = "build_and_test_notify"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "go mod tidy && go build -o notify && TELEGRAM_BOT_TOKEN=\"5262292072:AAEplVwr53YuS8h_vhA3gR1uo8bdXfkHcSk\" TELEGRAM_CHAT_ID=\"1577929091\" ./notify --test"

[deployment]
run = ["sh", "-c", "go mod download && go build -o notify -v"]
